body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Samsung Sharp Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Regular'), url('samsungsharpsans.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Samsung Sharp Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Medium'), url('samsungsharpsans-medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Bold'), url('samsungsharpsans-bold.woff') format('woff');
    }

    @font-face {
        font-family: 'Samsung Sharp Sans Bold VH';
        font-style: normal;
        font-weight: normal;
        src: local('Samsung Sharp Sans Bold VH'), url('iCiel-SamsungSharpSans-Bold_SMCPS.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Samsung Sharp Sans Regular OpenType';
        font-style: normal;
        font-weight: normal;
        src: local('Samsung Sharp Sans Regular OpenType'), url('samsungsharpsans.otf') format('opentype');
        }
        
    
        @font-face {
        font-family: 'Samsung Sharp Sans Medium OpenType';
        font-style: normal;
        font-weight: normal;
        src: local('Samsung Sharp Sans Medium OpenType'), url('samsungsharpsans-medium.otf') format('opentype');
        }
        
    
        @font-face {
        font-family: 'Samsung Sharp Sans Bold OpenType';
        font-style: normal;
        font-weight: normal;
        src: local('Samsung Sharp Sans Bold OpenType'), url('samsungsharpsans-bold.otf') format('opentype');
        }

.content-left{
    margin-right: 55%;
}

.content-right{
    margin-left: 50%;
    margin-top: -4790px;
    position:unset;
}
.odd{
    background-color: #ecf0f1;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.spec-value{
    display: flex;
    margin-left: 42%;
}

.title{
    font-family: 'Samsung Sharp Sans Bold VH';
}

h2, h3{
    font-family: 'Samsung Sharp Sans Bold VH';
}